.cart-item img {
  height: 6rem;
}
.cart-item {
  display: flex;
  grid-template-columns: 15% 80%;
  margin-left: 15rem;
}
.cart h1 {
  margin-left: 10rem;
}
.total {
  margin-left: 50rem;
}
